*{
  font-family: Roboto, sans-serif;
}
.custom-font {
  color:black;
}

.flex{
  display:flex;
  justify-content:space-evenly;
  padding-top: 1.5em;
}


ion-content {
    --background: url(../../assets/img/bg.webp);
    --background-position: center top;
    --background-repeat: no-repeat;
    --background-size: cover;

  .back-blob {
    z-index: -1;
    width: 600px;
    position: absolute;
    left: -50%;
    top: 0;
  }

  form {
    margin-top: 1em;
  }
  .wrap-input {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 26px;
    border:0.5px rgb(190, 190, 190) solid;
  }
  .input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 46px;
    padding: 0 20px 0 23px;
  }
  .container-form-btn {
    display: flex;
    justify-content: center;
  }

  .loginTitle{
    color:#212c45;
    font-weight: bold;
  }

  .hrefElement{
    margin-right: 1em;
    color:#1c773d;
    text-decoration: none;
  }

  .footerElement{
    font-size: 15px;
    color:white;
  }

  .logo{
    width: 50%;
    margin: 0 auto;
    img{
    border-radius: 100px;
    border:2px solid #fff;
    }
  }
  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 300px;
    height: 48px;
    background-color: #005154;
    border-radius: 10px;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 5px;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
  }
  .form-btn:hover {
    background-color: #28333b;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
  }

}
.btn_href{
  text-decoration: none;
  color: rgb(236, 202, 4);
  font-weight: bold;
}
.title_input{
  margin-right:3em;
  margin-bottom:0.4em;
  color: white;
  font-weight: bold;
}
