<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<ion-content>
  <div class="ion-padding">
    <div class="logo">
      <img src="../../assets/img/logo_login.png" alt="logo">
    </div>
    <form class="ion-padding">
      <h6 class="title_input">Nom</h6>
      <div class="wrap-input">
        <input class="input" type="text" name="nom" placeholder="Votre nom ici">
      </div>
      <h6 class="title_input">Adresse email</h6>
      <div class="wrap-input">
        <input class="input" type="email" name="email" placeholder="Votre nom ici">
      </div>
      <h6 class="title_input">Mot de passe</h6>
      <div class="wrap-input">
        <input class="input" type="password" name="password" placeholder="Mot de passe">
      </div>
    </form>
    <div class="container-form-btn">
      <button class="form-btn custom-font">
        S'INSCRIRE
      </button>
    </div>
  </div>
</ion-content>
